<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.ligi.android.dubwise"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name" >
     
      
        <activity android:name=".DUBwise"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    <activity android:name="SettingsActivity"></activity>
<activity android:name="MotorTestActivity"></activity>
<activity android:name="RCDataActivity"></activity>
<activity android:name="ServerListActivity"></activity>
<activity android:name="ConnectionListActivity"></activity>
<activity android:name="GraphActivity"></activity>
<activity android:name="CockpitActivity"></activity>
<activity android:name="FlightSettingsTopicListActivity"></activity>
<activity android:name="GraphSettingsActivity"></activity>
<activity android:name="FlightSettingsActivity"></activity>
<activity android:name="ConnectViaTCPActivity"></activity>
</application>


<uses-sdk android:minSdkVersion="5" android:targetSdkVersion="5"></uses-sdk>
<uses-permission android:name="android.permission.INTERNET"></uses-permission>

</manifest> 