<?xml version="1.0" encoding="utf-8"?>
<manifest package="org.ligi.android.dubwise"
      xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="0.76" android:versionCode="10">

	<uses-sdk android:targetSdkVersion="3" android:minSdkVersion="3"></uses-sdk>
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>

	<uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN"></uses-permission>
	
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
	
	<uses-library android:name="com.google.android.maps"/>

    <application android:icon="@drawable/icon" android:label="@string/app_name" >
    	<uses-library android:name="com.google.android.maps"/>
     
        <activity android:name=".DUBwise"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    <activity android:name="SettingsActivity"></activity>
	<activity android:name="MotorTestActivity"></activity>	
	<activity android:name="RCDataActivity"></activity>
	<activity android:name="InformationDeskActivity"></activity>
	<activity android:name="AnalogValuesActivity"></activity>
	
	<activity android:name="org.ligi.android.dubwise.cockpit.CockpitActivity"></activity>

	<activity android:name="org.ligi.android.dubwise.graph.GraphSettingsActivity"></activity>
	<activity android:name="org.ligi.android.dubwise.graph.GraphActivity"></activity>
	
	<activity android:name="org.ligi.android.dubwise.con.ConnectionListActivity"></activity>
	<activity android:name="org.ligi.android.dubwise.con.ConnectViaTCPActivity"></activity>
	<activity android:name="org.ligi.android.dubwise.con.bluetooth.BluetoothDeviceListActivity"></activity>
	
	<activity android:name="org.ligi.android.dubwise.piloting.MultiTouchPilotingActivity"  android:screenOrientation="landscape"></activity>
	<activity android:name="org.ligi.android.dubwise.piloting.OrientationPilotingActivity"  android:screenOrientation="landscape"></activity>
	<activity android:name="org.ligi.android.dubwise.piloting.PilotingListActivity"></activity>
	
	
	<activity android:name="org.ligi.android.dubwise.flightsettings.FlightSettingsTopicListActivity"></activity>
	<activity android:name="org.ligi.android.dubwise.flightsettings.FlightSettingsTopicEditActivity"></activity>
	<activity android:name="org.ligi.android.dubwise.flightsettings.FlightSettingsActivity"></activity>
	
	<activity android:name="org.ligi.android.dubwise.lcd.LCDActivity"></activity>
	<activity android:name="org.ligi.android.dubwise.map.DUBwiseMap"></activity>
	<activity android:name="org.ligi.android.dubwise.map.MapSettingsActivity"></activity>

	
<activity android:name=".con.SwitchDeviceListActivity"></activity>
<activity android:name="DeviceDetails"></activity>
<activity android:name=".con.ConnectionDetails"></activity>
<activity android:name="MixerEditActivity"></activity>
<activity android:name="OpenGLActivity"></activity>
<activity android:name="ControlPanelActivity"></activity>
</application>

</manifest> 